
	
h1, h2, h3, h4, h5, h6,  {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	color:#141823;
	
}
h1 {
	text-shadow: 1px 1px 1px #ccc;
}
p{
	font-size:16px;
}
 
p,div,dd{
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color:#141823;
}	
body { 
    background: url(/static/cream_dust.png) repeat 0 0;
}

.stand-out{ 
    box-shadow: 0 0 1em 1em #ccc;
}
	.vertSpace{
		padding-top:10%;
		padding-bottom:10%;
	}
	.bottomSpace{
		padding-bottom:10%;
	}
	.pictureText{
		color:#EFEFEF;
		font-size:4em;
	}
	.whiteText{
		color:#EFEFEF;
	}
	.padding-0 {
    	padding: 0;

	}
	.moveTextUp{
		top: 50%;
		transform: translateY(-200%);
	}
	.dark{
		background:#EFEFEF;
	}
	.otherbg {
		background:url("/static/main.jpeg");
		background-repeat: no-repeat;
		background-position: bottom; 
	}
	.otherbg .row {
		background-color: rgba(0, 0, 0, 0.2);
	}
	.darkoverlay:after {
		background-color: rgba(0, 0, 0, 0.2);
	}
	.ledbg {
		background:url("/static/facelift.jpg");
		background-repeat: no-repeat;
		background-position:center;
		background-size:cover;
		z-index:-1;
	}
	.ledbg .row{
		background-color: rgba(0, 0, 0, 0.2);

	}
	.bg {
		background:url({% static "main.jpeg" %});
		background-repeat: no-repeat;
		background-position: center; 
		background-position:top;
		color:#000000;
		background-size:cover;

	}
	.facial1 {
		background: url({% static "a2.jpg" %});
		background-repeat: no-repeat;
		background-position: center; 
		background-size: 100%;
	}
	.special{
		padding-top:15%;
		color:#EFEFEF;
	}
	.special2{
		padding-bottom:7%;
	}
	.servicesImage{
		background: url({% static "filler.jpg" %});
		background-repeat: no-repeat;
		background-position: center; 
		background-position:top;
		background-size:100% auto;

	}
	.layer2{
    background-color: rgba(248, 247, 216, 0.7);

	}
	.layer {
    -webkit-filter: grayscale(50%);
       -moz-filter: grayscale(50%);
         -o-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
            filter: grayscale(50%);
	}
	.whiteArea{
		box-shadow: none;
	}
	.navbar {
		background-image: none;
	   background-color:rgba(200, 200, 200, 0);
	   		border: 0;
   	   -webkit-box-shadow: none;
   		box-shadow: none;
   		margin-bottom:0px;


	}
	.navbar2 {
		background-image: none;
	   		border: 0;
   	   -webkit-box-shadow: none;
   		box-shadow: none;
   		margin-bottom:0px;


	}
	.chillTitle {
		color:#2c3e50;
		margin-left: -15%;
	}
	.moveTextRight dt{
		padding-left:10%;
	}
	.moveTextRight dd{
		padding-left:23%;
	}
	.priceText{
		font-size:2em;

	}
	.chillbackground {
		background: rgba(210,180,140, 0.3);
		color:#2c3e50;
		margin-left: -15%;
		padding-right: 0%;
	}
	.descBackground {
		background-color: #000000;
		color:#2c3e50;
	}	
	.specialCol{
		width:100%;
		height:auto;
		padding-left:0%;
		padding-right:0%;
	}
	.boxBackground{
		
		background-color:#F5F5F5;
		color:212121;
	}
	.vertical-align {
    display: flex;
    align-items: center;
	}
	.noPadding{
		padding-right:0px;
		padding-left:0px;
	}
	.zeroPadding{
		padding-top:0px;
		padding-bottom:0px;
	}
	.bigText{
		font-size: v
	}
	.navbar-brand{
		color: white !important;
	}
	.nav a { 
		color: white !important;

	}
