	{% extends 'spa/base.html' %}
	{% load static %}
	{% block content %}

	<div class = "container-fluid  noPadding">

	<div class = "ledbg container-fluid  noPadding" >
		<div class = "row">
			<div class = "col-md-12">
			<br>
			<br>
						<br>
			<br>
						<br>
			<br>
						<br>
			<br>
						<br>
			<br>
						<br>
			<br>
				<h1 class = " pictureText text-center moveTextUp" >LED Light Therapy </h1>
	
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-3">
		</div>
		<div class = "col-md-6">
			<h3>About LED Light Therapy</h3>
			<p>LED Light Therapy is based on important research by NASA showing that certain frequencies of light significantly increase new tissue growth, stimulate collagen production and reduce fine lines and wrinkles.</p>

			<p>This breakthrough technology does not use heat or any kind of “invasive” process, but triggers the body to convert light energy into cell energy without thermal heat. LED light therapy is non-invasive, causes no inflammation, and requires no special post-treatment procedures.
			</p>

			<p>It is proving to be an effective treatment for aging skin as well as particular conditions such as Rosacea and other skin conditions. Benefits of Red LED Light Therapy include: Reduction in fine lines and wrinkles, reduction of age spots and sun damage, increase in collagen, reduction of overall redness, flushing and dilated capillaries. Results are often immediate.</p>
			<p>The Blue LED Light attacks PP-9, producing singlet oxygen. This form of oxygen is very toxic to the bacteria that cause acne therefore decreasing acne drastically with absolutely no downtime.</p>
		</div>
		<div class = "col-md-3">
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-3">
		</div>
		<div class = "col-md-6">
			<h3>Recommended LED Protocol</h3>
			<p>The recommended professional LED protocol is six treatments a week or two apart, followed by a maintenance treatment every month or twoo red light LED and it works, giving you plumper, firmer skin and a more youthful look. Professional LED treatments can also help boost your mood during long, dark winters.</p>

			<p>LED treatments are painless, cool and relaxing, and unlike IPL or laser treatments, carry no risk of burning. An IPL treatment delivers a bright blast of light at very high energy levels through a hand-held device, and can be uncomfortable, even painful.
			</p>
		</div>
		<div class = "col-md-3">
		</div>
	</div>

		<div class = "row">
		<div class = "col-md-3">
		</div>
		<div class = "col-md-6">
			<h3>LED Is Gentle and Soothing </h3>
			<p>Unlike IPL, LED treatments don't generate any heat. They're even relaxing. Your eyes can't be hurt by LED so don't have to be covered.  LED treatments are a good choice for people who want to boost collagen or treat acne. Home LED treatments and equipment will not deliver the same results because the equipment is not as powerful.</p>
		</div>
		<div class = "col-md-3">
		</div>
	</div>

	</div><!-- end coontainer -->


	{% endblock %}