	{% extends 'spa/base.html' %}
	{% load static %}
	{% block content %}

	<div class = "container-fluid  noPadding">

	<div class = "ledbg container-fluid  noPadding" >
		<div class = "row">
			<div class = "col-md-12">
			<br>
			<br>
						<br>
			<br>
						<br>
			<br>
						<br>
			<br>
						<br>
			<br>
						<br>
			<br>
				<h1 class = " pictureText text-center moveTextUp" ><b>Image O2 facial </b></h1>
	
			</div>
		</div>
	</div>
	<div class = "row ">
		<div class = "col-md-2">
		</div>
		<div class = "col-md-8 ">
			<br>
			<h2><b>About Oxygen Facials</b></h2>
				<div class = "middleSize">
					<p>A luxurious facial treatment infuses oxygen; plant derived stem cells, peptides, and a high concentration of enzymatic botanicals into the skin. It will leave your skin luminous, refreshed, and rejuvenated in just one application. Your skin will feel clean, lifted, radiant, and moisturized… making your skin flawless and glowing. Using oxygen, plant-derived stem cells, peptides and specially concentrated enzymatic botanicals, O2 LIFT delivers a premium spa experience with immediate results.</p>
			</div>
			
		</div>
		<div class = "col-md-2">
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-2">
		</div>
		<div class = "col-md-8">
			<h2><b>Recommended LED Protocol</b></h2>
			<p>Imagine releasing fresh, healthy skin hidden below layers of older skin cells with a process that’s both gentle and invigorating.
</p>

		</div>
		<div class = "col-md-2">
		</div>
	</div>

		<div class = "row">
		<div class = "col-md-2">
		</div>
		<div class = "col-md-8">
			<h2><b></b> </h2>
			<p></p>
		</div>
		<div class = "col-md-2">
		</div>
	</div>

	</div><!-- end coontainer -->


	{% endblock %}