	{% extends 'spa/base.html' %}
	{% load static %}
	{% block content %}

	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-md-2">
			</div>
			<div class = "col-md-8">
				<div class = "row">
					<div class = "col-md-7">
							<img class="img-responsive" src= "{% static "filler.jpg" %}" alt="Chania">
					</div>
					<div class = "col-md-5 ">
						<div class = "row text-center">
							<div class = "col-md-12 chillTitle">
								<h1> Peels</h1>
								<br>
							</div>
						</div>
						<div class = "row">
							<div class = "col-md-12 chillbackground">
								{% for i in "xxxxx"  %}
	         						<h4 class="list-group-item-heading">The Signature Facelift</h4>
								
									<ul class = "list-unstyled">
										<li>$65.00 one treatment</li>
										<li>$110 for two treatments (save $20.00)</li>
										<li>$165 for three treatments (save $30.00)</li>
									</ul>
								{% endfor %}
							</div>
						</div><!-- end row -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end col -->
			<div class = "col-md-2">
			</div>
		</div><!-- end row -->
		<br>
		<br>
		{% for block in photoBlock %}

				{{block}}

		{%endfor%}
	</div><!-- end coontainer -->


	{% endblock %}